<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<location path="." inheritInChildApplications="false">
		<system.webServer>
			<handlers>
				<add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Either" />
			</handlers>
			<aspNetCore processPath="dotnet"
						arguments=".\EduLink.API.dll"
						stdoutLogEnabled="true"
						stdoutLogFile=".\logs\stdout"
						hostingModel="inprocess">
				<environmentVariables>
					<environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
					<environmentVariable name="ConnectionStrings__DefaultConnection" value="${{ secrets.CONNECTION_STRING }}" />
					<environmentVariable name="Google__ClientId" value="${{ secrets.GOOGLE_CLIENT_ID }}" />
					<environmentVariable name="Google__ClientSecret" value="${{ secrets.GOOGLE_CLIENT_SECRET }}" />
				</environmentVariables>
			</aspNetCore>
		</system.webServer>
	</location>
</configuration>